@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #030616;
}

body {
    height: 100vh;
}

.link {
    text-decoration: none;
    color: #4E80EE;
}

header {
    text-align: center;
    padding: 80px;
}

header h1 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 15px;
}

header p {
    margin-bottom: 0;
}

main {
    background-color: #F8FAFC;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

p {
    font-weight: 400;
    margin-bottom: 30px;
}

.order-tracking {
    width: 650px;
    margin: 0 auto;
    padding-top: 60px;
    border-bottom: 2px solid #D2D5DA;
}

.order-tracking ol,
.return-policy ul {
    margin-left: 25px;
    margin-bottom: 20px;
}

.order-tracking ol li,
.return-policy ul li {
    line-height: 30px;
}

.return-policy {
    width: 650px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    header {
        padding: 60px 0px;
    }

    header h1 {
        font-size: 1.5rem;
    }
    
    .order-tracking, .return-policy {
        width: 90%;
    }
}